/* sidebar style*/
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}
.dndflow aside .sidbar_description {
  margin-bottom: 20px;
  line-height: 25px;
  color: #0041d0;
}
.dndflow .dndnode , .nodes_search {
  height: 20px;
  padding: 4px;
  border: 1px solid hsl(243, 26%, 13%);
  box-shadow: 0 3px 6px 3px #00000029;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  width: 85%;
}
.dndflow .dndnode:hover{
  transform: translateX(10px); 
  border: 1px solid transparent;
  transition: all .5s ease-in-out;
}
.dndflow .dndnode:hover.input{
  border: 1px solid transparent;
}
.dndflow .dndnode.input {
  border-color: rgba(0, 65, 208,.3);
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}
.nodes_listing_wrapper{
  height: 60vh;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85,0.1);
}
.nodes_search input{
  width: 100%;
  border: none; 
}
.nodes_search input:focus{
  outline: none;
}
.nodes_search{
border: none;
}
.show_add{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: #186ed1;
}
.show_add button , .form_wrapper form button:first-of-type{
  background-color: white;
  border: 1px solid #186ed1;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color:#186ed1 ;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
/* node handle style*/

.react-flow__handle.connectionindicator{
 width: 5px;
 height: 5px;
 border: 1px solid #186ed1;
 background-color: white;
}
/* start node style*/
.start_node{
  background-color: #636670;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* custom node style*/
.custom_node_wrapper{
  background-color: white;
  border: 1px solid rgba(99, 102, 112,.4);
  min-width: 150px;
  border-radius: 5px;
  padding:  10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 6px 3px #00000029;
}
.custom_condition_node_wrapper{
  background-color: #636670;
  border: 1px solid white;
  min-width: 150px;
  border-radius: 5px;
  padding:  10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* global styles */
.node_item{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.node_icon svg{
  height: 20px;
  margin-right: 10px;
  /* fill:#186ed1; */
  stroke: #186ed1;
}
.node_title{
  font-size: 14px;
}
/* controllers buttons style*/
.controllers_btns {
  background-color: white;
  border:1px solid rgba(24, 110, 209,.4);
  padding: 5px 10px;
  color: rgba(24, 110, 209,.4);
}
.controllers_btns button{
  border: none;
  background-color: unset;
  cursor: pointer; 
  color: rgba(24, 110, 209,1);
}
.controllers_btns button.active-bg{
  background-color: rgba(24, 110, 209,1);
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.controllers_btns button svg{
 width:20px;
}
/* flow form style*/
.flow_form{
  margin: 10px 0;
}
.form_wrapper form{
display: flex;
flex-direction: column;
}
.form_wrapper form input{
  margin: 10px 0 10px 0;
  height: 20px;
  padding: 4px;
  box-shadow: 0 3px 6px 3px #00000029;
  border-radius: 5px;
  border: none;
  }
  .form_wrapper form input:focus{
    outline:none;
  }
  .form_btns{
    display: flex;
  }
  .form_wrapper form button:last-of-type{
    background-color: white;
  border:1px solid #186ed1;
  padding: 5px 10px;
  color: #186ed1;
  }
.node_delete_wrapper button{
 width: 100%;
 background-color: white;
 border:1px solid red;
 padding: 5px 10px;
 color: red;
 cursor: pointer;
  }
  /* custom node children style*/
  .node_children_icon svg{
    height: 20px;
  }
  .node_children_item{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
  }
  .node_children_item span svg{
    height: 40px;
    margin-right: 10px;
  }
   /* edge button style*/
   .edgebutton {
    width: 20px;
    height: 20px;
    background: #eee;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
  }
  
  .edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  }